# Hugo default output
public
resources
.hugo_build.lock

# Binaries
bin/

# Node
node_modules
package-lock.json
yarn.lock

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
tools/notion_sync/venv/

# Environment Variables (Secrets)
.env
